/*
body {
    height: 99vh;
    background-image: url("mountains.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.main-box{
    background: rgba(255, 255, 255);
    opacity: 20;
    height: 60%;
    width: 50%;
    border-radius: 15px;
}

.logo-container{
display: inline-flex;
}

.logo {
height: 50px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
}

.title{
    font-size: 50px;
}
*/

.flex-container{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-item{
    width: 200px;
    background-color: black;
    min-height: 200px;
    margin-top: -150px;

}

.language-item{
    width: 200px;
    background-color: black;
    min-height: 50px;
    margin-top: 150px;

}

.japanese-item{
    width: 200px;
    background-color: black;
    min-height: 100px;
    margin-top: 50px;
}

.english-item{
    width: 200px;
    background-color: black;
    min-height: 100px;
    margin-top: 20px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
}



















